/* RESET */
body, div, dl, dd, dt, ul, li, ol, h1, h2, h3, h4, h5, h6, form, input, legend, textarea, select, fieldset, p, button {
  margin: 0;
  padding: 0;
}

a, a:hover, a:focus {
  text-decoration: none;
  color: #000;
}

body, input, textarea, select, button, table {
  line-height: 1.4;
}

li, ol, ul {
  list-style: none;
}

em, address {
  font-style: normal;
}

img, fieldset {
  border: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box !important;
}

.ir {
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
}

.db {
  display: block;
  content: "";
  clear: both;
}

.cp {
  cursor: pointer;
}

.cd {
  cursor: default;
}

.hide {
  display: none !important;
}

.hidden {
  display: none !important;
}

/* color */
/* position */
.absolute {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.fixed {
  position: fixed;
  top: 30px;
  right: 40px;
}

/* display */
.flxCnt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flxRit {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* padding */
/* margin */
/* font */
/* border */
/* table */
.tbl {
  background: #fff;
}
.tbl table {
  width: 100%;
  border-collapse: collapse;
}

/* form */
.form_control {
  display: block;
  width: auto;
  font-size: 1em;
  color: #222;
  border-width: 1px;
  border-style: solid;
  border-color: #e3e3e3;
  border-radius: 0.25em;
  padding: 0.5em 1.25em;
}
.form_control::-moz-placeholder {
  color: #aaa;
}
.form_control:-ms-input-placeholder {
  color: #aaa;
}
.form_control::placeholder {
  color: #aaa;
}

.form_group {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.25em;
}
.form_group label {
  width: 7.5em;
  font-size: 1em;
}
.form_group .input_group {
  display: flex;
  width: calc(100% - 7.5em);
}
.form_group .input_group input, .form_group .input_group select, .form_group .input_group textarea {
  width: 100%;
  padding: 0.375em 0.5em;
  min-height: 2.5em;
}

input:-moz-read-only, textarea:-moz-read-only {
  background: #efefef;
}

input:read-only, textarea:read-only {
  background: #efefef;
}

.help_block {
  position: relative;
  display: inline-block;
  padding: 0.5em 0.75em;
  background: #f2dede;
  border-radius: 0.25em;
  margin-top: 0.5em;
  font-family: sans-serif;
  font-size: 0.8em;
  font-weight: 700;
  color: #a94442;
}
.help_block::after {
  display: block;
  content: "";
  position: absolute;
  left: 0.5em;
  top: -0.5em;
  width: 0;
  height: 0;
  border-bottom: 0.5em solid #f2dede;
  border-left: 0.25em solid transparent;
  border-right: 0.25em solid transparent;
}

/* button */
.btn {
  padding: 0.75em 1em;
  border: 0;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25em;
}
.btn.btn_write {
  background: #005399 !important;
  border: 1px solid #005399;
  color: #fff !important;
}
.btn.btn_upload {
  position: relative;
  margin-right: 1em;
  border: 1px solid rgb(9, 164, 158);
}
.btn.btn_upload::before {
  display: block;
  position: absolute;
  content: "";
  right: -0.5em;
  top: calc(50% - 0.5em);
  width: 1px;
  height: 1em;
  background: #ccc;
}

.btn_modify {
  background: #ddd !important;
}

.btn_search {
  background: #5d6169 !important;
  color: #fff !important;
}

.btn_save {
  background: #43a7c7;
  border: 1px solid #43a7c7;
  color: #fff;
}

.btn_close {
  background: #fff;
  border: 1px solid #43a7c7;
  color: #43a7c7;
}

.btn_delete {
  background: #ff3636;
  border: 1px solid #ff3636;
  color: #fff;
}

/* background */
/* FRAME */
body {
  position: relative;
  letter-spacing: 0.25px;
  font-family: "Pretendard";
  font-size: 14px;
  font-weight: 400;
}

.container {
  position: relative;
  max-width: calc(1300px + 2em);
  width: 100%;
  padding-right: 1em;
  padding-left: 1em;
  margin: 0 auto;
}

.container-fluid {
  position: relative;
  width: 100%;
  padding-right: 1em;
  padding-left: 1em;
}

/* NAV */
.navbar {
  width: 100%;
  height: 6.25em;
  padding-right: 1em;
  padding-left: 1em;
  border-bottom: 1px solid #ddd;
}
.navbar #logo {
  height: 32px;
  width: 9em;
  padding-top: 0.125em;
  padding-bottom: 0.125em;
}
.navbar #logo a {
  display: flex;
  height: 100%;
}
.navbar #logo a img {
  height: 100%;
}
.navbar .gnb ul.menu {
  display: flex;
}
.navbar .gnb ul.menu li {
  margin: 0 1.5em;
}
.navbar .gnb ul.menu li a {
  font-size: 1.25em;
  font-weight: 500;
  padding: 0 1em;
}
.navbar .navbar_quick {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .navbar_quick ul {
  display: flex;
}
.navbar .navbar_quick ul li {
  margin-left: 1em;
}
.navbar .navbar_quick ul li:first-child {
  margin-left: 0;
}
.navbar .navbar_quick ul li a {
  padding: 0.5em 1.25em;
  border-width: 1px;
  border-style: solid;
  border-color: #ddd;
  border-radius: 5em;
}
.navbar .navbar_quick a {
  display: flex;
  cursor: pointer;
}
.navbar .navbar_quick a.btn_menu {
  font-size: 1.25em;
  color: #fff;
  padding: 0.25em 0.375em;
  background: #285f74;
  border-width: 1px;
  border-style: solid;
  border-color: #285f74;
}

/* SIDEBAR */
#sidebarWrap {
  position: absolute;
  display: flex;
  min-height: calc(100vh - 6.25em);
  height: calc(100% - 6.25em);
  width: 16em;
  background: #F2F3F7;
  transition: all 0.3s;
  z-index: 10;
}
#sidebarWrap ~ #content_section {
  margin-left: 16em;
  padding: 2em 2.25em;
}
#sidebarWrap ~ .sidebarTgl {
  position: absolute;
  left: 16em;
  top: calc(50% - 2.5em + 3.125em);
  font-size: 1em;
  height: 5em;
  background: #285f74;
  border-radius: 0 4.5em 4.5em 0;
  padding-left: 0.375em;
  padding-right: 0.5em;
  display: flex;
  align-items: center;
  color: #fff;
  cursor: pointer;
  z-index: 1;
}
#sidebarWrap ~ .sidebarTgl svg {
  font-size: 1.125em;
}
#sidebarWrap.hide {
  margin-left: -16em;
}
#sidebarWrap.hide ~ #content_section {
  margin-left: 0;
}
#sidebarWrap.hide ~ .sidebarTgl {
  left: 0;
}
#sidebarWrap #leftsidebar {
  width: 100%;
}
#sidebarWrap #leftsidebar .menu > ul {
  margin-top: 2em;
  font-size: 1.125em;
}
#sidebarWrap #leftsidebar .menu > ul.list > li {
  position: relative;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(255, 255, 255, 0.25);
  cursor: pointer;
  flex-direction: column;
  display: flex;
}
#sidebarWrap #leftsidebar .menu > ul.list > li > a {
  width: 100%;
  padding: 0.75em 2em;
  cursor: pointer;
}
#sidebarWrap #leftsidebar .menu > ul.list > li > a svg {
  margin-right: 0.5em;
}
#sidebarWrap #leftsidebar .menu > ul.list > li > a.on {
  background: #E1E3EB;
  font-weight: 700;
}
#sidebarWrap #leftsidebar .menu > ul.list > li > a.on ~ ul.ml-menu {
  display: block;
}
#sidebarWrap #leftsidebar .menu > ul.ml-menu {
  width: 100%;
  display: none;
  padding: 0;
}
#sidebarWrap #leftsidebar .menu > ul.ml-menu li {
  display: flex;
  background: #F2F3F7;
  padding-left: 1.25em;
}
#sidebarWrap #leftsidebar .menu > ul.ml-menu li:first-child {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(255, 255, 255, 0.25);
}
#sidebarWrap #leftsidebar .menu > ul.ml-menu li a {
  padding: 0.875em;
}
#sidebarWrap #leftsidebar .dep2 {
  margin-left: 2.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
#sidebarWrap #leftsidebar .dep2 li a {
  display: block;
  padding: 0.5em !important;
}
#sidebarWrap #leftsidebar .dep2 li a.on {
  color: #172a88;
}

/* PAGE */
#content_section {
  min-height: calc(100vh - 6.25em - 7.5em);
}
#content_section .page_info h2 {
  font-size: 1.75em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #ddd;
}
#content_section .page_info .breadcrumbWrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 0.875em;
}
#content_section .page_info {
  margin-bottom: 1.5em;
}

/* SEARCH */
.searchWrap {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1em;
}
.searchWrap .form_control {
  background: #f3f4f6;
  border: 0;
}
.searchWrap select {
  min-width: 12.5em;
  margin-right: 1em;
  border-radius: 10em;
}
.searchWrap input {
  min-width: 16.5em;
  padding: 0;
}
.searchWrap .searchArea {
  display: flex;
  background: #f3f4f6;
  border-radius: 10em;
  padding: 0 1.5em;
}
.searchWrap .btn {
  background: transparent !important;
  color: #000 !important;
  padding: 0.75em 0;
}

.multiSearchWrap {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1em;
  background: #f3f4f6;
  padding: 0.5em 1em 0.75em 0.25em;
}
.multiSearchWrap ul {
  width: calc(100% - 6.5em);
}
.multiSearchWrap ul li .form_group {
  align-items: center;
}
.multiSearchWrap .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.5em;
  margin-top: 0.5em;
  height: 2.5em;
  background: #222;
  color: #fff;
}

/* BUTTON */
.btnWrap {
  margin-top: 1em;
  margin-bottom: 0.5em;
}
.btnWrap .btn {
  min-width: 6.5em;
  border-radius: 0.375em;
  padding: 0.5em 1em;
}

.btn {
  font-family: "Pretendard";
}

/* CARD */
.card {
  border: 1px solid #ddd;
}

.card .card_header {
  padding: 0.75em 1em;
  border-bottom: 1px solid #ddd;
}

.card .card_header h5.card_title {
  font-size: 1.125em;
}

.card .card_body {
  min-height: 10em;
}

.card .card_footer {
  padding: 1em;
  font-size: 0.875em;
  border-top: 1px solid #ddd;
}

/* TABLE */
.tableWrap {
  position: relative;
}

.dtlTableWrap {
  padding: 1em;
}

/* TABLE - Ag Grid */
.ag-root-wrapper {
  font-family: "Pretendard";
  font-size: 14px;
  border-radius: 0.75em;
}
.ag-root-wrapper .ag-header {
  background: #f3f4f6 !important;
}
.ag-root-wrapper .ag-header-group-cell-label, .ag-root-wrapper .ag-header-cell-label {
  justify-content: center;
}
.ag-root-wrapper .ag-cell {
  text-align: center;
}

/* CHART */
.chartWrap {
  position: relative;
  padding: 1em;
}
.chartWrap .box {
  border: 1px solid #ddd;
  padding: 1em;
  border-radius: 0.5em;
}
.chartWrap .chartHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.25em;
}
.chartWrap .chartHeader h6 {
  font-size: 1.125em;
}
.chartWrap .chartHeader ul {
  display: flex;
}
.chartWrap .chartHeader ul li {
  padding: 0.25em;
  margin-left: 0.5em;
}
.chartWrap .chartHeader ul li:first-child {
  margin-left: 0;
}
.chartWrap .chartBody {
  padding-top: 1em;
}
.chartWrap .chart {
  width: 100%;
  height: 250px;
  background: rgb(19, 15, 15);
}

/* FOOTER */
.footer {
  padding: 1.5em 0;
  background: #333;
  height: 7.5em;
}
.footer .container {
  display: flex;
}
.footer .footer_logo {
  margin-right: 5em;
}
.footer .footer_info {
  color: #fff;
}
.footer .footer_info .footer_addr {
  display: flex;
  flex-direction: column;
}

.required {
  display: inline-block;
}
.required::before {
  display: inline-block;
  content: "*";
  color: #ff3636;
  line-height: 1;
  vertical-align: top;
  margin: 0.2em;
}

/* sweetAlert2 */
.swal2-popup {
  font-size: 0.875em;
}

.swal2-icon.swal2-error [class^=swal2-x-mark-line] {
  width: 2.5em !important;
}

.swal2-icon.swal2-success [class^=swal2-success-line][class$=tip] {
  top: 2.25em !important;
  left: 0.5em !important;
  width: 1.5em !important;
}

.swal2-icon.swal2-success [class^=swal2-success-line][class$=long] {
  top: 1.875em !important;
  right: 0.75em !important;
  width: 2.5em !important;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.25em;
}

.keyVisual {
  position: relative;
  height: 32.5em;
  height: calc(100vh - 6.25em);
  overflow: hidden;
  background: #f1f1f1;
  padding: 0 2em;
  display: flex;
  align-items: center;
}
.keyVisual h2 {
  padding: 1.5em 0 1em;
  text-align: center;
}
.keyVisual ._row {
  width: 100%;
}
.keyVisual .card {
  background: #fff;
  border: 0;
  margin-top: 1.5em;
}
.keyVisual .card .card_body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 13em;
}
.keyVisual .card .card_body img {
  width: 100%;
}
.keyVisual .card .card_body p {
  font-size: 0.937em;
  text-align: center;
}
.keyVisual .slick-slider .slick-prev, .keyVisual .slick-slider .slick-next {
  top: 67%;
  width: auto;
  height: auto;
  z-index: 1;
}
.keyVisual .slick-slider .slick-prev {
  left: -8px;
}
.keyVisual .slick-slider .slick-next {
  right: -8px;
}
.keyVisual .slick-slider .slick-prev:before, .keyVisual .slick-slider .slick-next:before {
  font-size: 45px;
  color: #333;
}
.keyVisual .slick-slider .slick-dots {
  bottom: -3em;
}
.keyVisual ul.cardGroup {
  margin-top: -2.5em;
}
.keyVisual ul.cardGroup > li:first-child .card_header {
  color: #000;
}
.keyVisual ul.cardGroup > li:first-child .card_header p {
  color: #676767;
}
.keyVisual ul.cardGroup > li:first-child .card_body {
  min-height: 37em;
}
.keyVisual ul.cardGroup > li .card {
  color: #fff;
}
.keyVisual ul.cardGroup > li .card .card_header {
  border-bottom: 0;
  padding: 2em;
  padding-bottom: 0;
}
.keyVisual ul.cardGroup > li .card .card_header p {
  margin-top: 1em;
  white-space: pre-wrap;
}
.keyVisual ul.cardGroup > li .card .card_body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2em;
  padding-right: 2em;
}
.keyVisual ul.cardGroup > li .card .card_body .btn {
  font-size: 0.875em;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 0;
  background: transparent;
  padding: 0.75em 1.25em 0.5em;
}
.keyVisual ul.cardGroup > li .card .card_body .imgBox {
  width: 9em;
}
.keyVisual ul.cardGroup > li .card .card_body dl {
  color: #000;
  padding-right: 1em;
  margin-bottom: 2em;
}
.keyVisual ul.cardGroup > li .card .card_body dl::after {
  display: block;
  content: "";
  clear: both;
}
.keyVisual ul.cardGroup > li .card .card_body dl dt {
  display: flex;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
  font-weight: 700;
}
.keyVisual ul.cardGroup > li .card .card_body dl dt span {
  background: #285f74;
  border-radius: 3em;
  padding: 0.5em 2em;
  color: #fff;
}
.keyVisual ul.cardGroup > li .card .card_body dl.rltCard dd {
  float: left;
  width: 33.333%;
  padding: 0.5em;
}
.keyVisual ul.cardGroup > li .card .card_body dl.rltCard dd > div {
  border: 1px solid #ddd;
  text-align: center;
  padding: 1em 0.5em;
  border-radius: 0.5em;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}
.keyVisual ul.cardGroup > li .card .card_body dl.rltCard dd h6 {
  font-size: 0.875em;
  margin-bottom: 0.5em;
}
.keyVisual ul.cardGroup > li .card .card_body dl.rltCard dd span {
  font-size: 1.125em;
  font-weight: 700;
  color: rgb(34, 126, 229);
}
.keyVisual ul.cardGroup > li .card .card_body dl.listDot dt span {
  background: rgb(29, 205, 149);
}
.keyVisual ul.cardGroup > li .card .card_body dl.listDot dd {
  position: relative;
  padding-left: 1.75em;
  margin-bottom: 0.5em;
}
.keyVisual ul.cardGroup > li .card .card_body dl.listDot dd:first-child {
  margin-top: 1.25em;
}
.keyVisual ul.cardGroup > li .card .card_body dl.listDot dd::before {
  display: block;
  content: "";
  position: absolute;
  left: 1em;
  top: calc(50% - 1.5px);
  width: 3px;
  height: 3px;
  background: #BFC4CD;
}
.keyVisual ul.cardGroup > li .card .card_body dl.listDot dd span {
  font-size: 0.937em;
}

.mainContLayout {
  padding-top: 3em;
  padding-bottom: 4em;
}
.mainContLayout h3 {
  text-align: center;
  margin-bottom: 1em;
}
.mainContLayout .card {
  border-radius: 1em;
  overflow: hidden;
}
.mainContLayout .card .card_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 15em;
}
.mainContLayout .card .card_body .imgBox {
  padding: 1em 6.5em 0.5em;
}
.mainContLayout .card .card_body img {
  width: 100%;
}
.mainContLayout .card .card_body p {
  font-size: 0.937em;
  text-align: center;
}
.mainContLayout .card .card_body ul li h3 {
  padding: 1.5em 0 0 1.5em;
}
.mainContLayout .card .card_body ul li:first-child {
  border-right: 1px solid #ddd;
}
.mainContLayout .card .card_body ul li:last-child {
  background: #eef1f4;
}
.mainContLayout .card .card_body ul li .imgWrap {
  padding: 1.5em;
  padding-top: 0.5em;
}
.mainContLayout .card .card_body ul li .imgWrap img {
  width: 100%;
}